.main{
    width: 310px;
    height: 430px;
    margin-left: 500px;
    margin-top: 35px;
    padding: 100px;
    background-color: rgb(150, 245, 167);
}

.icon{
    width: 90px;
    height: 7px;
    padding: 55px;
    padding-top: 100px;
    margin-left: 45px;
    margin-top: -30px;
    background-color: rgb(19, 89, 36);
    border-radius: 0px 50px;
}

h1{
    text-align: center;
    color: rgb(0, 60, 6);
    margin-top: 50px;
}

p{
    font-size: 23px;
    color:rgb(0, 60, 6);
    text-align: center;
    width: 350px;
    margin-top: 50px;
}

i{
    color: white;
    font-size: 100px;
    margin-left: 3px;
    margin-top: -70px;
}