* {
    margin: 0;
    padding: 5px;
   }

   @font-face {
    font-family: "GreateVibes";
    src: url(../fonts/GreatVibes-Regular.ttf);
   }

   
.main{ 
    background-color: rgb(227, 237, 250);
    width: 35%;
    height: 650px;
    position: absolute;
    left: 33%;
}

.h1{
    position: absolute;
    top: 40px;
    left: 33%;
    transform: rotate(-20deg);
    font-family: 'GreateVibes', cursive;
    font-size: 80px;
}

.h2{
    position: absolute;
    top: 140px;
    left: 25%;
    transform: rotate(-15deg);
    font-family: 'GreateVibes', cursive;
    font-size: 80px;
    
}

.h3{
    position: absolute;
    top: 220px;
    left: 45%;
    transform: rotate(-15deg);
    font-family: 'GreateVibes', cursive;
    font-size: 80px;
   
}

.laurjord{
    position: absolute;
    top: 365px;
    left: 20%;
    font-family:'Lucida Sans';
    font-size: 18px;
    letter-spacing: 3px;
}

.please{
    
    font-family:Verdana, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    position: absolute;
    top: 420px;
    left: 36%;
   
}

.data{
    position: absolute;
    top: 460px;
    left: 27%;
    font-family:Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

.time{
    position: absolute;
    top: 480px;
    left: 40%;
   
    font-family:Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

.place{
    position: absolute;
    top: 520px;
    left: 36%;
   
    font-family:Verdana, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
}

.follow{
    position: absolute;
    top: 555px;
    left: 38%;
   
    font-family: GreateVibes, cursive;
    font-size: 13px;
    letter-spacing: 2px;
}


